Repository pulanski/nx-workspace-angular, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, config/dependencies, circleci, husky, github, gh-actions-workflows, libs, apps, api, test, source, frontend, backend

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'config/dependencies' label to any root file changes
config/dependencies:
  - '*'

# Add 'circleci' label to any circleci configuration changes
circleci:
  - '.circleci/*'
  - '.circleci/**/*'

# Add 'husky' label to any husky configuration changes
husky:
  - '.husky/*'
  - '.husky/**/*'

# Add 'github' label to any github configuration changes
github:
  - '.github/*'
  - '.github/**/*'

# Add 'gh-workflows' label to any github workflow configuration changes
gh-actions-workflows:
  - '.github/workflows/*'
  - '.github/workflows/**/*'

# Add 'libs' label to any change within the 'libs' directory
libs:
  - libs/*
  - libs/**/*

# Add 'apps' label to any change within the 'apps' directory
apps:
  - apps/*
  - apps/**/*

# Add 'api' label to any change within the domain of the api
# in general, backend related changes
api:
  - libs/api/*
  - libs/api/**/*
  - apps/api/*
  - apps/api/**/*

# Add 'test' label to any change to *.spec.ts
# files within the apps and libs directories
test:
  - apps/**/*.spec.ts
  - libs/**/*.spec.ts

# Add 'source' label to any change to src
# files contained within the apps and libs
source:
  - apps/*
  - apps/**/*
  - libs/*
  - libs/**/*

# Add 'frontend` label to any change
# made within the mobile
# or web grouping folders
frontend:
  - apps/mobile/*
  - apps/mobile/**/*
  - apps/web/*
  - apps/web/**/*

# Add 'backend` label to any change
# made within the api/backend
backend:
  - libs/api/*
  - libs/api/**/*
  - apps/api/*
  - apps/api/**/*

ci: 🎡 add config for deadpendency workflow
  .github/deadpendency.yml
Labels: github

fix: 🐛 resolve issue with code coverage workflow
  .github/workflows/code-coverage.yml
Labels: github, gh-actions-workflows

feat: 🎸 add feed endpoint to the NestJS api
  apps/api/src/app/app.module.ts
  docker-compose.yml
  libs/api/core/feature/src/index.ts
  libs/api/core/feature/src/lib/api-core-feature.module.ts
  libs/api/core/feature/src/lib/api-core.module.ts
  libs/api/feed/feature/.eslintrc.json
  libs/api/feed/feature/README.md
  libs/api/feed/feature/jest.config.js
  libs/api/feed/feature/package.json
  libs/api/feed/feature/project.json
  libs/api/feed/feature/src/index.ts
  libs/api/feed/feature/src/lib/api-feed-feature.controller.spec.ts
  libs/api/feed/feature/src/lib/api-feed.controller.ts
  libs/api/feed/feature/src/lib/api-feed.module.ts
  libs/api/feed/feature/tsconfig.json
  libs/api/feed/feature/tsconfig.lib.json
  libs/api/feed/feature/tsconfig.spec.json
  ormconfig.local.json
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, libs, apps, api, test, source, backend

fix: 🐛 resolve issue with NestJS config in docker-compose
  docker-compose.yml
Labels: repo, config/dependencies

feat: 🎸 scaffold out library for shared data-access
  libs/shared/data-access/models/.babelrc
  libs/shared/data-access/models/.eslintrc.json
  libs/shared/data-access/models/README.md
  libs/shared/data-access/models/jest.config.js
  libs/shared/data-access/models/package.json
  libs/shared/data-access/models/project.json
  libs/shared/data-access/models/src/index.ts
  libs/shared/data-access/models/src/lib/post.ts
  libs/shared/data-access/models/tsconfig.json
  libs/shared/data-access/models/tsconfig.lib.json
  libs/shared/data-access/models/tsconfig.spec.json
  libs/shared/utils/compodoc-tools/README.md
  libs/shared/utils/compodoc-tools/package.json
  libs/shared/utils/compodoc-tools/project.json
  libs/shared/utils/compodoc/.babelrc
  libs/shared/utils/compodoc/.eslintrc.json
  libs/shared/utils/compodoc/README.md
  libs/shared/utils/compodoc/jest.config.js
  libs/shared/utils/compodoc/package.json
  libs/shared/utils/compodoc/project.json
  libs/shared/utils/compodoc/src/index.ts
  libs/shared/utils/compodoc/src/lib/shared-utils-compodoc-tools.spec.ts
  libs/shared/utils/compodoc/src/lib/shared-utils-compodoc-tools.ts
  libs/shared/utils/compodoc/tsconfig.compodoc.json
  libs/shared/utils/compodoc/tsconfig.json
  libs/shared/utils/compodoc/tsconfig.lib.json
  libs/shared/utils/compodoc/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, libs, test, source

docs: ✏️ add section on octotree
  README.md
Labels: repo, config/dependencies

docs: change wording in tip
  README.md
Labels: repo, config/dependencies

feat: 🎸 create library housing all of angular material
  libs/shared/ui/material/.browserslistrc
  libs/shared/ui/material/.eslintrc.json
  libs/shared/ui/material/README.md
  libs/shared/ui/material/jest.config.js
  libs/shared/ui/material/ng-package.json
  libs/shared/ui/material/package.json
  libs/shared/ui/material/project.json
  libs/shared/ui/material/src/index.ts
  libs/shared/ui/material/src/lib/material.module.ts
  libs/shared/ui/material/src/test-setup.ts
  libs/shared/ui/material/tailwind.config.js
  libs/shared/ui/material/tsconfig.json
  libs/shared/ui/material/tsconfig.lib.json
  libs/shared/ui/material/tsconfig.lib.prod.json
  libs/shared/ui/material/tsconfig.spec.json
  libs/web/shell/feature/src/lib/web-shell.module.ts
  libs/web/shell/feature/src/lib/web-shell.routes.ts
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: repo, config/dependencies, libs, source

feat: 🎸 prototype app shell
  apps/web/linkedin/project.json
  apps/web/linkedin/src/app/app.module.ts
  apps/web/linkedin/src/styles.scss
  apps/web/linkedin/src/themes.scss
  libs/shared/ui/nebular/.eslintrc.json
  libs/shared/ui/nebular/README.md
  libs/shared/ui/nebular/jest.config.js
  libs/shared/ui/nebular/project.json
  libs/shared/ui/nebular/src/index.ts
  libs/shared/ui/nebular/src/lib/nebular.module.ts
  libs/shared/ui/nebular/src/test-setup.ts
  libs/shared/ui/nebular/tsconfig.json
  libs/shared/ui/nebular/tsconfig.lib.json
  libs/shared/ui/nebular/tsconfig.spec.json
  libs/web/shell/ui/layout/src/lib/layout.component.html
  libs/web/shell/ui/layout/src/lib/layout.component.ts
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: repo, config/dependencies, libs, apps, source, frontend

feat: 🎸 add home component to linkedin-web
  apps/web/linkedin/src/app/app.component.ts
  apps/web/linkedin/src/app/app.module.ts
  apps/web/linkedin/src/themes.scss
  libs/web/home/linkedin/feature/.browserslistrc
  libs/web/home/linkedin/feature/.eslintrc.json
  libs/web/home/linkedin/feature/README.md
  libs/web/home/linkedin/feature/jest.config.js
  libs/web/home/linkedin/feature/ng-package.json
  libs/web/home/linkedin/feature/package.json
  libs/web/home/linkedin/feature/project.json
  libs/web/home/linkedin/feature/src/index.ts
  libs/web/home/linkedin/feature/src/lib/home.component.html
  libs/web/home/linkedin/feature/src/lib/home.component.scss
  libs/web/home/linkedin/feature/src/lib/home.component.spec.ts
  libs/web/home/linkedin/feature/src/lib/home.component.ts
  libs/web/home/linkedin/feature/src/lib/home.module.ts
  libs/web/home/linkedin/feature/src/test-setup.ts
  libs/web/home/linkedin/feature/tailwind.config.js
  libs/web/home/linkedin/feature/tsconfig.json
  libs/web/home/linkedin/feature/tsconfig.lib.json
  libs/web/home/linkedin/feature/tsconfig.lib.prod.json
  libs/web/home/linkedin/feature/tsconfig.spec.json
  libs/web/shell/feature/src/lib/web-shell.module.ts
  libs/web/shell/feature/src/lib/web-shell.routes.ts
  libs/web/shell/ui/layout/README.md
  libs/web/shell/ui/layout/project.json
  libs/web/shell/ui/layout/src/index.ts
  libs/web/shell/ui/layout/src/lib/layout.component.html
  libs/web/shell/ui/layout/src/lib/layout.component.ts
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, libs, apps, test, source, frontend

feat: 🎸 add better condition checking for mergify
  .github/mergify.yml
Labels: github

chore: 🤖 install jscutlery/semver plugin
  .husky/pre-commit
  apps/api/CHANGELOG.md
  apps/api/project.json
  apps/mobile/linkedin-e2e/CHANGELOG.md
  apps/mobile/linkedin-e2e/project.json
  apps/mobile/linkedin/CHANGELOG.md
  apps/mobile/linkedin/package.json
  apps/mobile/linkedin/project.json
  apps/mobile/sortir-e2e/CHANGELOG.md
  apps/mobile/sortir-e2e/project.json
  apps/mobile/sortir/project.json
  apps/web/linkedin-e2e/project.json
  apps/web/linkedin/project.json
  apps/web/sortir-e2e/project.json
  apps/web/sortir/project.json
  libs/api/core/feature/project.json
  libs/api/feed/feature/project.json
  libs/shared/data-access/models/project.json
  libs/shared/ui/material/project.json
  libs/shared/ui/nebular/project.json
  libs/shared/utils/compodoc/project.json
  libs/web/home/linkedin/feature/project.json
  libs/web/shell/feature/project.json
  package.json
  yarn.lock
Labels: repo, config/dependencies, husky, libs, apps, api, source, frontend, backend

chore: 🤖 install jscutlery/semver plugin (#98)
  .husky/pre-commit
  apps/api/CHANGELOG.md
  apps/api/project.json
  apps/mobile/linkedin-e2e/CHANGELOG.md
  apps/mobile/linkedin-e2e/project.json
  apps/mobile/linkedin/CHANGELOG.md
  apps/mobile/linkedin/package.json
  apps/mobile/linkedin/project.json
  apps/mobile/sortir-e2e/CHANGELOG.md
  apps/mobile/sortir-e2e/project.json
  apps/mobile/sortir/project.json
  apps/web/linkedin-e2e/project.json
  apps/web/linkedin/project.json
  apps/web/sortir-e2e/project.json
  apps/web/sortir/project.json
  libs/api/core/feature/project.json
  libs/api/feed/feature/project.json
  libs/shared/data-access/models/project.json
  libs/shared/ui/material/project.json
  libs/shared/ui/nebular/project.json
  libs/shared/utils/compodoc/project.json
  libs/web/home/linkedin/feature/project.json
  libs/web/shell/feature/project.json
  package.json
  yarn.lock
Labels: repo, config/dependencies, husky, libs, apps, api, source, frontend, backend

fix: 🐛 change conditions for mergify config
  .github/mergify.yml
Labels: github

fix: 🐛 change conditions for mergify config (#99)
  .github/mergify.yml
Labels: github

feat: 🎸 add sonarcloud configuration to the monorepo
  .github/workflows/build.yml
  .vscode/settings.json
  README.md
Labels: repo, config/dependencies, github, gh-actions-workflows

feat: 🎸 add sonarcloud configuration to the monorepo (#100)
  .github/workflows/build.yml
  .vscode/settings.json
  README.md
Labels: repo, config/dependencies, github, gh-actions-workflows

chore: 🤖 initialize codecov config
  .github/deadpendency.yml
  README.md
Labels: repo, config/dependencies, github

chore: 🤖 initialize codecov config (#108)
  .github/deadpendency.yml
  README.md
Labels: repo, config/dependencies, github

perf: ⚡️ change start-post component change detection strategy
  libs/web/home/ui/start-post/src/lib/start-post.component.ts
Labels: libs, source

perf: ⚡️ change start-post component change detection strategy (#110)
  libs/web/home/ui/start-post/src/lib/start-post.component.ts
Labels: libs, source

feat: 🎸 add splash loading screen to linkedin-web
  apps/web/linkedin/src/assets/icons/linkedin.svg
  apps/web/linkedin/src/index.html
  libs/shared/assets/.babelrc
  libs/shared/assets/.eslintrc.json
  libs/shared/assets/README.md
  libs/shared/assets/jest.config.js
  libs/shared/assets/package.json
  libs/shared/assets/project.json
  libs/shared/assets/src/index.ts
  libs/shared/assets/tsconfig.json
  libs/shared/assets/tsconfig.lib.json
  libs/shared/assets/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, libs, apps, source, frontend

feat: 🎸 add splash loading screen to linkedin-web (#117)
  apps/web/linkedin/src/assets/icons/linkedin.svg
  apps/web/linkedin/src/index.html
  libs/shared/assets/.babelrc
  libs/shared/assets/.eslintrc.json
  libs/shared/assets/README.md
  libs/shared/assets/jest.config.js
  libs/shared/assets/package.json
  libs/shared/assets/project.json
  libs/shared/assets/src/index.ts
  libs/shared/assets/tsconfig.json
  libs/shared/assets/tsconfig.lib.json
  libs/shared/assets/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, libs, apps, source, frontend

fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Labels: repo, config/dependencies

feat: 🎸 add global search feature
  .husky/.gitignore
  libs/web/linkedin/home/feature/src/lib/home.component.html
  libs/web/linkedin/home/feature/src/lib/home.component.spec.ts
  libs/web/linkedin/home/feature/src/lib/home.component.ts
  libs/web/linkedin/home/feature/src/lib/home.module.ts
  libs/web/linkedin/home/ui/header/.browserslistrc
  libs/web/linkedin/home/ui/header/.eslintrc.json
  libs/web/linkedin/home/ui/header/README.md
  libs/web/linkedin/home/ui/header/jest.config.js
  libs/web/linkedin/home/ui/header/ng-package.json
  libs/web/linkedin/home/ui/header/package.json
  libs/web/linkedin/home/ui/header/project.json
  libs/web/linkedin/home/ui/header/src/index.ts
  libs/web/linkedin/home/ui/header/src/lib/header.component.html
  libs/web/linkedin/home/ui/header/src/lib/header.component.scss
  libs/web/linkedin/home/ui/header/src/lib/header.component.spec.ts
  libs/web/linkedin/home/ui/header/src/lib/header.component.ts
  libs/web/linkedin/home/ui/header/src/lib/header.module.ts
  libs/web/linkedin/home/ui/header/src/test-setup.ts
  libs/web/linkedin/home/ui/header/tailwind.config.js
  libs/web/linkedin/home/ui/header/tsconfig.json
  libs/web/linkedin/home/ui/header/tsconfig.lib.json
  libs/web/linkedin/home/ui/header/tsconfig.lib.prod.json
  libs/web/linkedin/home/ui/header/tsconfig.spec.json
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.component.html
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.module.ts
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, husky, libs, test, source

feat: 🎸 add global search feature (#119)
  .husky/.gitignore
  libs/web/linkedin/home/feature/src/lib/home.component.html
  libs/web/linkedin/home/feature/src/lib/home.component.spec.ts
  libs/web/linkedin/home/feature/src/lib/home.component.ts
  libs/web/linkedin/home/feature/src/lib/home.module.ts
  libs/web/linkedin/home/ui/header/.browserslistrc
  libs/web/linkedin/home/ui/header/.eslintrc.json
  libs/web/linkedin/home/ui/header/README.md
  libs/web/linkedin/home/ui/header/jest.config.js
  libs/web/linkedin/home/ui/header/ng-package.json
  libs/web/linkedin/home/ui/header/package.json
  libs/web/linkedin/home/ui/header/project.json
  libs/web/linkedin/home/ui/header/src/index.ts
  libs/web/linkedin/home/ui/header/src/lib/header.component.html
  libs/web/linkedin/home/ui/header/src/lib/header.component.scss
  libs/web/linkedin/home/ui/header/src/lib/header.component.spec.ts
  libs/web/linkedin/home/ui/header/src/lib/header.component.ts
  libs/web/linkedin/home/ui/header/src/lib/header.module.ts
  libs/web/linkedin/home/ui/header/src/test-setup.ts
  libs/web/linkedin/home/ui/header/tailwind.config.js
  libs/web/linkedin/home/ui/header/tsconfig.json
  libs/web/linkedin/home/ui/header/tsconfig.lib.json
  libs/web/linkedin/home/ui/header/tsconfig.lib.prod.json
  libs/web/linkedin/home/ui/header/tsconfig.spec.json
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.component.html
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.module.ts
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, husky, libs, test, source

fix: upgrade multiple dependencies with Snyk (#118)
  package.json
  yarn.lock
Labels: repo, config/dependencies

feat: 🎸 add profile-summary component
  libs/web/linkedin/home/feature/src/lib/home.component.html
  libs/web/linkedin/home/feature/src/lib/home.module.ts
  libs/web/linkedin/home/ui/profile-summary/.browserslistrc
  libs/web/linkedin/home/ui/profile-summary/.eslintrc.json
  libs/web/linkedin/home/ui/profile-summary/README.md
  libs/web/linkedin/home/ui/profile-summary/jest.config.js
  libs/web/linkedin/home/ui/profile-summary/ng-package.json
  libs/web/linkedin/home/ui/profile-summary/package.json
  libs/web/linkedin/home/ui/profile-summary/project.json
  libs/web/linkedin/home/ui/profile-summary/src/index.ts
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.html
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.scss
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.spec.ts
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.ts
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.module.ts
  libs/web/linkedin/home/ui/profile-summary/src/test-setup.ts
  libs/web/linkedin/home/ui/profile-summary/tailwind.config.js
  libs/web/linkedin/home/ui/profile-summary/tsconfig.json
  libs/web/linkedin/home/ui/profile-summary/tsconfig.lib.json
  libs/web/linkedin/home/ui/profile-summary/tsconfig.lib.prod.json
  libs/web/linkedin/home/ui/profile-summary/tsconfig.spec.json
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.component.html
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, libs, test, source

feat: 🎸 add profile-summary component (#121)
  libs/web/linkedin/home/feature/src/lib/home.component.html
  libs/web/linkedin/home/feature/src/lib/home.module.ts
  libs/web/linkedin/home/ui/profile-summary/.browserslistrc
  libs/web/linkedin/home/ui/profile-summary/.eslintrc.json
  libs/web/linkedin/home/ui/profile-summary/README.md
  libs/web/linkedin/home/ui/profile-summary/jest.config.js
  libs/web/linkedin/home/ui/profile-summary/ng-package.json
  libs/web/linkedin/home/ui/profile-summary/package.json
  libs/web/linkedin/home/ui/profile-summary/project.json
  libs/web/linkedin/home/ui/profile-summary/src/index.ts
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.html
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.scss
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.spec.ts
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.ts
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.module.ts
  libs/web/linkedin/home/ui/profile-summary/src/test-setup.ts
  libs/web/linkedin/home/ui/profile-summary/tailwind.config.js
  libs/web/linkedin/home/ui/profile-summary/tsconfig.json
  libs/web/linkedin/home/ui/profile-summary/tsconfig.lib.json
  libs/web/linkedin/home/ui/profile-summary/tsconfig.lib.prod.json
  libs/web/linkedin/home/ui/profile-summary/tsconfig.spec.json
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.component.html
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, libs, test, source

feat: 🎸 add advertising component
  libs/web/linkedin/home/feature/src/lib/home.component.html
  libs/web/linkedin/home/feature/src/lib/home.module.ts
  libs/web/linkedin/home/ui/advertising/.browserslistrc
  libs/web/linkedin/home/ui/advertising/.eslintrc.json
  libs/web/linkedin/home/ui/advertising/README.md
  libs/web/linkedin/home/ui/advertising/jest.config.js
  libs/web/linkedin/home/ui/advertising/ng-package.json
  libs/web/linkedin/home/ui/advertising/package.json
  libs/web/linkedin/home/ui/advertising/project.json
  libs/web/linkedin/home/ui/advertising/src/index.ts
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.html
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.scss
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.spec.ts
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.ts
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.module.ts
  libs/web/linkedin/home/ui/advertising/src/test-setup.ts
  libs/web/linkedin/home/ui/advertising/tailwind.config.js
  libs/web/linkedin/home/ui/advertising/tsconfig.json
  libs/web/linkedin/home/ui/advertising/tsconfig.lib.json
  libs/web/linkedin/home/ui/advertising/tsconfig.lib.prod.json
  libs/web/linkedin/home/ui/advertising/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, libs, test, source

feat: 🎸 add advertising component (#122)
  libs/web/linkedin/home/feature/src/lib/home.component.html
  libs/web/linkedin/home/feature/src/lib/home.module.ts
  libs/web/linkedin/home/ui/advertising/.browserslistrc
  libs/web/linkedin/home/ui/advertising/.eslintrc.json
  libs/web/linkedin/home/ui/advertising/README.md
  libs/web/linkedin/home/ui/advertising/jest.config.js
  libs/web/linkedin/home/ui/advertising/ng-package.json
  libs/web/linkedin/home/ui/advertising/package.json
  libs/web/linkedin/home/ui/advertising/project.json
  libs/web/linkedin/home/ui/advertising/src/index.ts
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.html
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.scss
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.spec.ts
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.ts
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.module.ts
  libs/web/linkedin/home/ui/advertising/src/test-setup.ts
  libs/web/linkedin/home/ui/advertising/tailwind.config.js
  libs/web/linkedin/home/ui/advertising/tsconfig.json
  libs/web/linkedin/home/ui/advertising/tsconfig.lib.json
  libs/web/linkedin/home/ui/advertising/tsconfig.lib.prod.json
  libs/web/linkedin/home/ui/advertising/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, libs, test, source

feat: 🎸 add all-posts component to home module
  .github/mergify.yml
  apps/web/linkedin/src/assets/icons/linkedin-2.svg
  apps/web/linkedin/src/assets/icons/linkedin.svg
  apps/web/linkedin/src/index.html
  libs/shared/data-access/models/src/index.ts
  libs/shared/data-access/models/src/lib/feed-post.ts
  libs/web/linkedin/home/feature/src/lib/home.component.html
  libs/web/linkedin/home/feature/src/lib/home.module.ts
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.html
  libs/web/linkedin/home/ui/all-posts/.browserslistrc
  libs/web/linkedin/home/ui/all-posts/.eslintrc.json
  libs/web/linkedin/home/ui/all-posts/README.md
  libs/web/linkedin/home/ui/all-posts/jest.config.js
  libs/web/linkedin/home/ui/all-posts/ng-package.json
  libs/web/linkedin/home/ui/all-posts/package.json
  libs/web/linkedin/home/ui/all-posts/project.json
  libs/web/linkedin/home/ui/all-posts/src/index.ts
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.html
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.scss
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.spec.ts
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.ts
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.module.ts
  libs/web/linkedin/home/ui/all-posts/src/test-setup.ts
  libs/web/linkedin/home/ui/all-posts/tailwind.config.js
  libs/web/linkedin/home/ui/all-posts/tsconfig.json
  libs/web/linkedin/home/ui/all-posts/tsconfig.lib.json
  libs/web/linkedin/home/ui/all-posts/tsconfig.lib.prod.json
  libs/web/linkedin/home/ui/all-posts/tsconfig.spec.json
  libs/web/linkedin/home/ui/header/src/lib/header.component.html
  libs/web/linkedin/home/ui/header/src/lib/header.component.scss
  libs/web/linkedin/home/ui/header/src/lib/header.module.ts
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.html
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.scss
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.component.html
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.module.ts
  package.json
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, github, libs, apps, test, source, frontend

feat: 🎸 add all-posts component to home module (#128)
  .github/mergify.yml
  apps/web/linkedin/src/assets/icons/linkedin-2.svg
  apps/web/linkedin/src/assets/icons/linkedin.svg
  apps/web/linkedin/src/index.html
  libs/shared/data-access/models/src/index.ts
  libs/shared/data-access/models/src/lib/feed-post.ts
  libs/web/linkedin/home/feature/src/lib/home.component.html
  libs/web/linkedin/home/feature/src/lib/home.module.ts
  libs/web/linkedin/home/ui/advertising/src/lib/advertising.component.html
  libs/web/linkedin/home/ui/all-posts/.browserslistrc
  libs/web/linkedin/home/ui/all-posts/.eslintrc.json
  libs/web/linkedin/home/ui/all-posts/README.md
  libs/web/linkedin/home/ui/all-posts/jest.config.js
  libs/web/linkedin/home/ui/all-posts/ng-package.json
  libs/web/linkedin/home/ui/all-posts/package.json
  libs/web/linkedin/home/ui/all-posts/project.json
  libs/web/linkedin/home/ui/all-posts/src/index.ts
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.html
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.scss
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.spec.ts
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.ts
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.module.ts
  libs/web/linkedin/home/ui/all-posts/src/test-setup.ts
  libs/web/linkedin/home/ui/all-posts/tailwind.config.js
  libs/web/linkedin/home/ui/all-posts/tsconfig.json
  libs/web/linkedin/home/ui/all-posts/tsconfig.lib.json
  libs/web/linkedin/home/ui/all-posts/tsconfig.lib.prod.json
  libs/web/linkedin/home/ui/all-posts/tsconfig.spec.json
  libs/web/linkedin/home/ui/header/src/lib/header.component.html
  libs/web/linkedin/home/ui/header/src/lib/header.component.scss
  libs/web/linkedin/home/ui/header/src/lib/header.module.ts
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.html
  libs/web/linkedin/home/ui/profile-summary/src/lib/profile-summary.component.scss
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.component.html
  libs/web/linkedin/home/ui/start-post/src/lib/start-post.module.ts
  package.json
  tsconfig.base.json
  workspace.json
Labels: repo, config/dependencies, github, libs, apps, test, source, frontend

feat: 🎸 add buttons to all-post component
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.html
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.component.ts
  libs/web/linkedin/home/ui/all-posts/src/lib/all-posts.module.ts
Labels: libs, source

fix: upgrade @nebular/eva-icons from 9.0.1 to 9.0.2
  package.json
  yarn.lock
Labels: repo, config/dependencies

fix: upgrade @nebular/theme from 9.0.1 to 9.0.2
  package.json
  yarn.lock
Labels: repo, config/dependencies

fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Labels: repo, config/dependencies

fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Labels: repo, config/dependencies

fix: upgrade @ionic/angular from 6.1.0 to 6.1.1
  package.json
  yarn.lock
Labels: repo, config/dependencies

fix: upgrade @ionic/angular from 6.1.0 to 6.1.2
  package.json
  yarn.lock
Labels: repo, config/dependencies
